*{
    padding: 0;
    margin: 0;
    color: white;
}

header{
    background: linear-gradient(black , transparent);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo img{
    filter: invert(0.9)
}

nav {
    display: flex;
    justify-content: start;
}
nav a{
    padding: 5px;
    margin: 0 15px;
    font-size: x-large;
    color: white;
}
.a{
    background-image: url('back.png');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}