:root{
    --main-width: 60%;
    --cutaway-and-header-color:rgb(213, 227, 226);
    --services-bg: rgb(245, 245, 245);
    --services-elem-bg: white;
}
*{
    padding: 0;
    margin: 0;
    font-size: x-large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.slide{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



header{
    background: linear-gradient(black , transparent);
    width: 100%;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    color: var(--cutaway-and-header-color)
}
header div{
    width: var(--main-width);
    display: flex;
}
header div>div:first-child{
    width: 30%;
}
header div>div:first-child img{
    filter: invert(0.9)
}
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav p a:first-child{
    font-size: 75%;
}
nav p a:last-child{
    font-size: 50%;
}



#cutaway{
    background-image: url('back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cutaway-and-header-color);
}
#cutaway::before{
    content: "";
    display: block;
}
#cutaway>div:first-child{
    width: var(--main-width);
}
#cutaway>div:first-child>div{
    width: 50%;
}
h1{
    font-size: 400%;
    color: white;
    font-weight: normal;
}
#cutaway>div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent 10%, black  );
}
#cutaway>div:last-child>div{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
#cutaway>div:last-child>div div{
    width: 20%;
    padding: 1.25%;
    background-color: rgba(123, 123, 123, 0.35);
}
#cutaway>div:last-child>div div:first-child{
    background-color: rgb(0, 0, 0, 0.5);
}
#cutaway>div:last-child>div p {
    font-weight: bold;
    font-size: 115%;
}



#services{
    color: black;
    justify-content: start;
    background-color: var(--services-bg);
}
#services>*{
    width: var(--main-width);
}
#services>div{
    margin: 3px 0;
}
#services>div>h2{
    display: block;
    font-size: 300%;
    margin: 3vh 0;
}
.service{
    background-color: var(--services-elem-bg);
}
.service>label{
    display: block;
    padding: 3vh 5%;
    font-size: 150%;
    margin-bottom: 2px 0;
    border-bottom: 3px solid var(--services-bg);
    display: flex;
    justify-content: space-between;
}
.service>label>input{
    opacity: 0;
}
.service>label>input + .castomRadio{
    background-image: url(plus.svg);
    filter: invert(0.5);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: transform 1s, opacity 2s;
}
.service>label>input:checked + .castomRadio{
    transform: rotate(45deg);
    opacity: 30%;
}
.isNotActiveService{
    display: none;
}
.service>div{
    height: 45vh;
}
.service>div>div:first-child{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 45%;
}
#automobile>div>div:first-child{
    background-image: url('automobile.png');
}
#classic>div>div:first-child{
    background-image: url('classic.png');
}
#passes>div>div:first-child{
    background-image: url('passes.png');
}