:root{
    --main-width: 60%;
    --cutaway-and-header-color:rgb(213, 227, 226);
    --services-elem-bg: white;
}
*{
    padding: 0;
    margin: 0;
    font-size: x-large;
}



.slide{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



header{
    background: linear-gradient(black , transparent);
    width: 100%;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    color: var(--cutaway-and-header-color)
}
header div{
    width: var(--main-width);
    display: flex;
}
header div>div:first-child{
    width: 30%;
}
header div>div:first-child img{
    filter: invert(0.9)
}
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav p a:first-child{
    font-size: 75%;
}
nav p a:last-child{
    font-size: 50%;
}



#cutaway{
    background-image: url('back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cutaway-and-header-color);
}
#cutaway::before{
    content: "";
    display: block;
}
#cutaway>div:first-child{
    width: var(--main-width);
}
#cutaway>div:first-child>div{
    width: 50%;
}
h1{
    font-size: 400%;
    color: white;
    font-weight: normal;
}
#cutaway>div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent 10%, black  );
}
#cutaway>div:last-child>div{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
#cutaway>div:last-child>div div{
    width: 20%;
    padding: 1.25%;
    background-color: rgba(123, 123, 123, 0.35);
}
#cutaway>div:last-child>div div:first-child{
    background-color: rgb(0, 0, 0, 0.5);
}
#cutaway>div:last-child>div p {
    font-weight: bold;
    font-size: 115%;
}



#services{
    color: black;
    justify-content: start;
    background-image: url('bricks_seamless_texture_3420.jpg');
    animation: services 15s linear  infinite;
}
#services>*{
    width: var(--main-width);
}
#services>div{
    margin: 3px 0;
}
#services>div>h2{
    display: block;
    font-size: 300%;
    margin: 3vh 0;
}
.service{
    background-color: var(--services-elem-bg);
}
.service>label{
    display: block;
    padding: 2vh 0;
    font-size: 150%;
    margin-bottom: 2px 0;
    border-bottom: 1px solid gainsboro;
}
.isNotActiveService{
    display: none;
}
.service>div{
    height: 40vh;
}
.service>div>div:first-child{
    background-image: url('back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40%;
}



@keyframes services{
    from{
        background-position: bottom 0px right 0px;
    }
    to {
        background-position: bottom -1000px right -1000px;
    }
}
