:root{
    --main-width: 60%;
}

*{
    padding: 0;
    margin: 0;
    color: white;
    font-size: x-large;
}

header{
    background: linear-gradient(black , transparent);
    width: 100vw;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
}
header div{
    width: var(--main-width);
    display: flex;

}
.logo{
    width: 30%;
}
.logo img{
    filter: invert(0.9)
}
.containerNav{
    width: 70%;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav a{
    padding: 5px;
    margin: 0 15px;
    font-size: 125%;
    color: white;
}
.container{
    background-image: url('back.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container::before{
    content: "";
    display: block;
}
.containerSlogon{
    display: flex;
    justify-content: center;
    width: var(--main-width);
}
.slogon{
    width: 50%;
}
.containerSlogon::after{
    content: "";
    display: block;
    width: 50%;
}
.containerInfo{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
.containerInfo div{
    width: 20%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

.containerInfo div p {
    font-weight: bold;
}
.a{
    font-size: 400%;
}
.b{
    font-size: 100%;
}