:root{
    --main-width: 60%;
}

*{
    padding: 0;
    margin: 0;
    color: rgb(213, 227, 226);
    font-size: x-large;
}

header{
    background: linear-gradient(black , transparent);
    width: 100vw;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
}
header div{
    width: var(--main-width);
    display: flex;

}
.logo{
    width: 30%;
}
.logo img{
    filter: invert(0.9)
}
.containerNav{
    width: 70%;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adres{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adre{
    font-size: 75%;

}
.adress{
    font-size: 50%;
}
.containert{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent 10%, black  );
}

.container{
    background-image: url('back.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container::before{
    content: "";
    display: block;
}
.containerSlogon{
    display: flex;
    justify-content: center;
    width: var(--main-width);
}
.slogon{
    width: 50%;
}
.containerSlogon::after{
    content: "";
    display: block;
    width: 50%;
}
.containerInfo{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
.containerInfo div{
    width: 20%;
    padding: 1.25%;
    background-color: rgba(123, 123, 123, 0.35);
}
.containerInfo div:first-child{
    background-color: rgb(0, 0, 0, 0.5);
}

.containerInfo div p {
    font-weight: bold;
    font-size: 115%;
}
.a{
    font-size: 400%;
    color: white;
}