:root{
    --main-width: 60%;
}
*{
    padding: 0;
    margin: 0;
    color: rgb(213, 227, 226);
    font-size: x-large;
}



.slide{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



header{
    background: linear-gradient(black , transparent);
    width: 100%;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
}
header div{
    width: var(--main-width);
    display: flex;
}
header div>div:first-child{
    width: 30%;
}
header div>div:first-child img{
    filter: invert(0.9)
}
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav p a:first-child{
    font-size: 75%;
}
nav p a:last-child{
    font-size: 50%;
}



#cutaway{
    background-image: url('back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cutaway::before{
    content: "";
    display: block;
}
#cutaway>div:first-child{
    width: var(--main-width);
}
#cutaway>div:first-child>div{
    width: 50%;
}
h1{
    font-size: 400%;
    color: white;
    font-weight: normal;
}
#cutaway>div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent 10%, black  );
}
#cutaway>div:last-child>div{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
#cutaway>div:last-child>div div{
    width: 20%;
    padding: 1.25%;
    background-color: rgba(123, 123, 123, 0.35);
}
#cutaway>div:last-child>div div:first-child{
    background-color: rgb(0, 0, 0, 0.5);
}
#cutaway>div:last-child>div p {
    font-weight: bold;
    font-size: 115%;
}



#services>div{
    width: var(--main-width);
}